.inputsContainer {
  display: flex;
  gap: 3px;
  justify-content: center;
  width: min(90vw, 480px); /* Limite la largeur à 90vw ou 480px, selon le plus petit */
  height: auto;
  margin: 0 auto;
  
}

.letterInput {
  width: calc((min(90vw, 480px) - 21px) / 8); /* 21px pour les espaces entre 8 lettres */
  height: calc((min(90vw, 480px) - 21px) / 8);
 
  font-size: 1.25rem;
  text-align: center;
  border: 2px solid #ddd;
  background-color: #fff;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.letterInput:hover {
  background-color: #e6e6e6;
}

.letterInput:active {
  background-color: #cccccc;
  transform: translateY(2px);
}

