/* app/components/Navbar.module.css */
.navbar {
  background: #282c34;
  color: white;
  padding: 0.5rem 1rem;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 20; /* Assurez-vous que la navbar est au-dessus des autres éléments */
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.menuButton {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.menuButton div {
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menuButton div:nth-child(1) {
  top: 0;
}

.menuButton div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menuButton div:nth-child(3) {
  bottom: 0;
}

.menuButton.open div:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.menuButton.open div:nth-child(2) {
  opacity: 0;
}

.menuButton.open div:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.menuItems {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.menuItemsOpen {
  display: flex;
  position: fixed; /* Utilisation de fixed pour s'assurer que le menu est au bon endroit */
  top: 10vh; /* Définir la hauteur en dessous de la navbar */
  right: 0;
  width: 100vw;
  height: calc(100vh - 10vh);
  background-color: #282c34;
  padding: 1rem;
  z-index: 10;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.menuItem {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menuItem:hover {
  background-color: #444;
}

.menuItemActive {
  background-color: #e0a644;
  color: black;
}

.coinsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.coinIcon {
  width: 24px;
  height: 24px;
}

.coinsCount {
  font-size: 1.2em;
  color: #e0a644;
}
