.navbar {
  background: #282c34;
  color: white;
  padding: 1rem;
  height: 8vh;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuButton {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.menuButton div {
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menuButton div:nth-child(1) {
  top: 0;
}

.menuButton div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menuButton div:nth-child(3) {
  bottom: 0;
}

.menuButton.open div:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.menuButton.open div:nth-child(2) {
  opacity: 0;
}

.menuButton.open div:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

@media (min-width: 1024px) {
  .menuButton {
    display: none;
  }
}

.menuItems {
  display: none;
}

@media (min-width: 1024px) {
  .menuItems {
    display: flex;
    gap: 1rem;
  }
}

.menuItemsOpen {
  display: block;
  position: absolute;
  top: 3.2rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: black;
  padding: 1rem;
  z-index: 10;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  height: 5vh;
}

.menuItemActive {
  background-color: #E0A644;
  color: black;
}
