.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh; /* Utiliser les 90vh restants */
  overflow: hidden;
  width: 100vw;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 45vh; /* Ajuster la hauteur pour que le contenu total soit 100vh */
  overflow: hidden;
}

.imageWrapper {
  width: 300px; 
  height: 100%; /* Utiliser toute la hauteur disponible */
  overflow: hidden;
  margin-top: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.inputsAndKeyboard {
  width: 100vw;
  height: 45vh; /* Ajuster la hauteur pour que le contenu total soit 100vh */
  overflow: hidden;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-bottom: 10px; /* Réduire la marge inférieure */
  margin-top: 10px;
}

.successMessage, .errorMessage {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  width: 80%;
  margin-top: 20px;
}

.successMessage {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.errorMessage {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

@media (max-width: 1150px) {
  .imageWrapper {
    width: 45%; /* Deux images par ligne avec un petit espacement */
    height: 45%;
  }
}
