/* app/components/ VirtualKeyboard.module.css*/

.keyboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  width: min(100vw, 480px);
}

.keyboardRow {
  display: flex;
  justify-content: center;
  width: 100%;
}

.key {
  width: calc((min(100vw, 480px) - 21px) / 8); /* Largeur dynamique pour 8 touches par ligne */
  height: calc((min(100vw, 480px) - 21px) / 8);
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #ddd;
  background-color: #fff;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  color: #0049ff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.key:hover {
  background-color: #e6e6e6;
}

.key:active {
  background-color: #cccccc;
  transform: translateY(2px);
}

.actionKey {
  background-color: #0049ff;
  color: #fff;
  font-weight: bold;
  border: none;
}

.actionKey:hover {
  background-color: #003bb5;
}

.actionKey:active {
  background-color: #002f8b;
  transform: translateY(2px);
}

.successMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #155724;
  background-color: #d4edda;
  padding: 10px 20px;
  border: 1px solid #c3e6cb;
  border-radius: 8px;
  z-index: 20;
}

.errorMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #721c24;
  background-color: #f8d7da;
  padding: 10px 20px;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  z-index: 20;
}
