/* app/components/ VirtualKeyboard.module.css*/

.keyboard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 1.5rem;
  background-color: #f3f4f6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  width: 90%;
  max-width: 320px;
}

.keyboardRow {
  display: flex;
  justify-content: center;
  width: 100%;
}

.key {
  width: 40px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #ddd;
  background-color: #fff;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  color: #0049ff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Supprimer les bords arrondis */
  border-radius: 0;
}

.key:hover {
  background-color: #e6e6e6;
}

.key:active {
  background-color: #cccccc;
  transform: translateY(2px);
}

.actionKey {
  background-color: #0049ff;
  color: #fff;
  font-weight: bold;
  border: none;
}

.actionKey:hover {
  background-color: #003bb5;
}

.actionKey:active {
  background-color: #002f8b;
  transform: translateY(2px);
}

.successMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #155724;
  background-color: #d4edda;
  padding: 10px 20px;
  border: 1px solid #c3e6cb;
  border-radius: 8px;
  z-index: 20;
}

.errorMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #721c24;
  background-color: #f8d7da;
  padding: 10px 20px;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  z-index: 20;
}

@media (max-width: 768px) {
  .key, .actionKey {
    width: 50px;
    height: 50px;
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .key, .actionKey {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }
}

