/* app/components/SelectLanguage.module.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f0f0f0;
  padding: 20px;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.languageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #e0a644;
  color: black;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #d2943d;
  transform: translateY(-2px);
}

.flag {
  width: 24px;
  height: 24px;
}

.progressBarContainer {
  width: 150px;
  height: 12px;
  background-color: #ddd;
  border-radius: 6px;
  margin-top: 15px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: #e0a644;
  border-radius: 6px;
  transition: width 0.3s ease;
}

.resetButton {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 1em;
  cursor: pointer;
  background-color: #fa1616;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
}

.resetButton:hover {
  background-color: #e04343;
  transform: translateY(-2px);
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .title {
    font-size: 1.5em;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 1.2em;
  }

  .buttons {
    gap: 20px;
  }

  .button {
    padding: 8px 16px;
    font-size: 1em;
  }

  .progressBarContainer {
    width: 120px;
  }
}
